<div class="mat-body-strong">About the Ladder</div>
<div class="mat-body">
  This ladder is designed to get kids playing more matches! It is a great opportunity to complete with players outside your
  regular group and to gain additional match play experience.
</div>
<div class="mat-body-strong">
  Who can play on the ladder?
</div>
<div class="mat-body">
  The ladder is open to all players ages 10 & up. Please note all players will play full court with regular ball. All 10 &
  up academy players are strongly encouraged to compete on this ladder.
</div>
<div class="mat-body-strong">
  What is the cost to play on the ladder?
</div>
<div class="mat-body">
  $15 per player. The $15 will help cover the website cost as well as the year end pizza party!
</div>
<div class="mat-body-strong">
  Challenge Ladder Rules
</div>
<div class="mat-body">
  <ul>
    <li>All juniors will be placed on ONE ladder.</li>
    <li>Players can challenge up to four positions above them. For example, if you are #18 on the ladder, the highest player
      you can challenge is the #14 player. If player #18 defeats player #14, they will take their spot on the ladder and
      everyone else will move down one spot.</li>
    <li>Scoring will be an 8-game pro set (with AD). A 7-point tiebreaker will be played at 8-8.</li>
    <li>The challenger is responsible for providing a new can of balls and travel to their opponent’s home court.</li>
    <li>If you receive multiple challenges, you must accept the player that challenged you FIRST before playing another match.
    </li>
    <li>The season will run from Monday, Feb 25- Thursday, May 16th.</li>
    <li>Please keep parent involvement during matches at a minimum. The goal for the kids is to gain experience outside of class
      and play as many matches as possible!</li>
    <li>End of season pizza party will be on Friday, May 17th at 6:30pm</li>
  </ul>
</div>

<hr />
<div class="mat-body">
  **Many of you know Austin Lynn, a Fieldstone resident who helped me develop this site. It is designed to be VERY user friendly
  as well as easily view a “LIVE” ladder. The site is secured by either your Google account and/or your Facebook account.
  Please enter your google info (just email address – no password) or your Facebook user name (just login- no password) on
  the registration page. By doing this, you will be able to see the live ladder, view other player’s contact information
  and easily enter scores online. You will still be able to view the site and see the live ladder, even if you do not wish
  to provide your Google and/or Facebook account, however you will be unable to view contact information or enter scores
  for security reasons.
</div>