.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .card {
    max-width: 400px;
    margin: 4px;
  }

  .flex {
    display: flex;
  }