<p class="mat-title">{{title}}</p>
<div class="container">
  <mat-form-field>
    <input matInput placeholder="First Name" [ngClass]="{'required': !validateProperty(user.firstName)}" [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone Number" [(ngModel)]="user.phone">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email Address" [(ngModel)]="user.email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Home Court" [(ngModel)]="user.homeCourt">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="New Facebook/Google Id" [(ngModel)]="linkedAccount">
  </mat-form-field>

  <button mat-button color="primary" (click)="addAccount()">Add Account</button>
  <p class="mat-body">Current Linked Accounts</p>
  <div *ngFor="let account of user.accounts">
    <mat-card>
      <button mat-raised-button color="warn" (click)="deleteAccount(account)">Delete</button>&nbsp;{{account}}</mat-card>
  </div>
</div>
<button mat-raised-button color="primary" (click)="save()">Save</button>