<p class="mat-title">Current Ladder</p>
<p class="mat-body" *ngIf="isLoading">Loading...</p>
<mat-accordion *ngIf="!isLoading">
  <div *ngFor="let pos of displayRankings">
    <mat-expansion-panel [ngClass]="{'my-player': pos.myPlayer}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{pos.position}}. {{pos.firstName}}&nbsp;{{pos.lastName}}&nbsp;&nbsp;({{pos.homeCourt}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="user != undefined; else nouser">
        <p>Email:
          <a href="mailto:{{pos.email}}">{{pos.email}}</a>
        </p>
        <p>Phone: {{pos.phone}}</p>
        <div class="mat-title">Score History</div>
        <div *ngFor="let score of pos.scores">
          <p class="mat-body">{{score.winnerName}} def. {{score.opponentName}}, {{score.score}}</p>
        </div>
      </div>
      <ng-template #nouser>
        <app-idp-login></app-idp-login>
      </ng-template>
    </mat-expansion-panel>
  </div>
</mat-accordion>